:root {
  --main-green-color: #1e555c;
  --border-color: #13353a;
  --dark-red: #980d29;
  --dark-blue: #00264d;
}

html,
body,
#root,
.container {
  width: 100%;
  height: 100%;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

body {
  background-color: var(--main-green-color);
  color: white;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#length-section {
  margin: 0 1rem 1rem 1rem;
}

#length-section h2 {
  margin: 0.5rem;
}

#lengths-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.length-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow-container {
  margin: 5px;
  cursor: pointer;
}

#session-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  border: 6px solid var(--border-color);
  border-radius: 3rem;
}

#time-left {
  font-size: 5rem;
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.control-icon-container {
  margin: 5px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1rem;
}

footer span:nth-child(1) {
  color: var(--dark-red);
}

footer span:nth-child(2) {
  color: var(--dark-blue);
}
